body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    display: flex;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
  }
  
  .icon {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    order: -1;
  }

  .emojis {
    display: grid;
    justify-content: left;
    grid-template-columns: 30% 30%;
    grid-template-rows: 50% 50%;
    grid-gap: 1rem;
  }

  p {
    display: flex;
    flex-grow: 1;
  }
